@font-face {
  font-family: "Inter";
  src: url("/assets/Inter Variable/Single axis/Inter.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/assets/Inter Desktop/Inter-Medium.otf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/Inter Desktop/Inter-Bold.otf");
}
div.card-one-two-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 56em;
  height: 14em;
}
div.card-one-two-wrapper div.card-one-two {
  display: flex;
  flex-direction: row;
  padding: 2em 1em 2em 1em;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
div.card-one-two-wrapper div.card-one-two .card-one-two:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
div.card-one-two-wrapper div.card-one-two div.card-header-wrapper {
  display: flex;
  flex-direction: column;
}
div.card-one-two-wrapper div.card-one-two div.card-header-wrapper div.card-title-main {
  font-size: 1em;
  color: #2a4d69;
  font-family: "Inter-Bold";
}
div.card-one-two-wrapper div.card-one-two div.card-header-wrapper div.card-title-sub {
  font-size: 0.4em;
  color: #2a4d69;
  font-family: "Inter-Medium";
}
div.card-one-two-wrapper div.card-one-two div.card-header-wrapper div.bar-chart-container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
}
div.card-one-two-wrapper div.card-one-two div.total-count {
  font-size: 1.1em;
  color: #081434;
  text-align: left;
  font-family: "Inter-Bold";
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  gap: 0.25em !important;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item .legend-dot {
  display: inline-block;
  width: 20px;
  height: 12px;
  border-radius: 6px;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item .legend-dot.male {
  background-color: #2a4d69;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item .legend-dot.female {
  background-color: #f28cb1;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item span.legend-percentage {
  font-size: 0.75em !important;
  font-family: "Inter-Bold";
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item span.legend-percentage.male {
  color: #2a4d69;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item span.legend-percentage.female {
  color: #f28cb1;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item span.legend-label {
  font-size: 0.5em;
  font-family: "Inter-Medium";
  margin: 0;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item span.legend-label.male {
  color: #2a4d69;
}
div.card-one-two-wrapper div.card-one-two div.card-one-two-legend div.legend-item span.legend-label.female {
  color: #f28cb1;
}

div.card-three-five-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 56em;
  height: 20em;
}
div.card-three-five-wrapper div.card-three {
  width: 70%;
  height: 100%;
}
div.card-three-five-wrapper div.card-three div.card-header-wrapper {
  display: flex;
  flex-direction: column;
}
div.card-three-five-wrapper div.card-three div.card-header-wrapper div.card-title-main {
  font-size: 1em;
  color: #2a4d69;
  font-family: "Inter-Bold";
}
div.card-three-five-wrapper div.card-five {
  width: auto;
  height: 100%;
}
div.card-three-five-wrapper div.card-five div.card-header-wrapper {
  display: flex;
  flex-direction: column;
}
div.card-three-five-wrapper div.card-five div.card-header-wrapper div.card-title-main {
  font-size: 1em;
  color: #2a4d69;
  font-family: "Inter-Bold";
}
div.card-three-five-wrapper div.card-five div.card-five-graph {
  margin-top: 10px;
  width: 300px;
  height: auto;
  font-family: "Inter";
}

div.card-one-two-three-five-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

div.card-four-wrapper {
  width: 19.5em;
  height: 35em;
}
div.card-four-wrapper div.card-four {
  width: 100%;
  height: 100%;
}
div.card-four-wrapper div.card-four div.card-header-wrapper {
  display: flex;
  flex-direction: column;
}
div.card-four-wrapper div.card-four div.card-header-wrapper div.card-title-main {
  font-size: 1em;
  color: #2a4d69;
  font-family: "Inter-Bold";
  margin-bottom: 1em;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper {
  margin-top: 1em;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line span.sector-label {
  font-size: 0.75em;
  font-family: "Inter-Bold";
  color: #0a1f44;
  flex: 1;
  text-align: left;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line span.sector-value {
  font-size: 0.75em;
  font-family: "Inter-Bold";
  color: #0a1f44;
  flex: 1;
  text-align: right;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line div.legend-item {
  display: flex;
  gap: 0.25em;
  align-items: center;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line div.legend-item span.legend-dot {
  border-radius: 0.5em;
  display: inline-block;
  margin-right: 0.5em;
  width: 26px;
  height: 13px;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line div.legend-item span.legend-percentage {
  font-size: 1em;
  font-family: "Inter-Bold";
  width: 6em;
}
div.card-four-wrapper div.card-four div.sector-lines-wrapper div.sector-line div.legend-item span.legend-label {
  font-size: 1em;
  font-family: "Inter-Bold";
  width: 7em;
  margin: 0;
}
div.card-four-wrapper div.card-four div.graph-wrapper-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
div.card-four-wrapper div.card-four div.graph-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
div.card-four-wrapper div.card-four .pie-chart .user-select-none.svg-container {
  height: 250px !important;
  width: 250px !important;
}

div.card-six-wrapper {
  width: 30em;
  height: 40em;
}
div.card-six-wrapper div.card-six {
  width: 100%;
  height: 100%;
}
div.card-six-wrapper div.card-six div.card-header-wrapper {
  display: flex;
  flex-direction: row;
}
div.card-six-wrapper div.card-six div.card-header-wrapper div.card-title-main {
  font-size: 1em;
  color: #2a4d69;
  font-family: "Inter-Bold";
  margin-bottom: 1em;
}
div.card-six-wrapper div.card-six div.card-header-wrapper div.filter-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-left: auto;
}
div.card-six-wrapper div.card-six div.card-header-wrapper div.filter-row .order-toggle-radio {
  display: flex;
  align-items: center;
  width: 1em !important;
}
div.card-six-wrapper div.card-six div.card-header-wrapper div.filter-row .filter-dropdown-location > button {
  width: 1em !important;
}
div.card-six-wrapper div.card-six div.card-six-graph {
  width: 300px;
  height: auto;
  font-family: "Inter";
}

div.card-seven-eight-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: auto;
  height: auto;
}
div.card-seven-eight-wrapper div.card-seven-wrapper {
  width: 45.5em;
  height: 19.5em;
}
div.card-seven-eight-wrapper div.card-seven-wrapper div.card-seven {
  width: 100%;
  height: 100%;
}
div.card-seven-eight-wrapper div.card-seven-wrapper div.card-seven div.card-header-wrapper {
  display: flex;
  flex-direction: row;
}
div.card-seven-eight-wrapper div.card-seven-wrapper div.card-seven div.card-header-wrapper div.card-title-main {
  font-size: 1em;
  color: #2a4d69;
  font-family: "Inter-Bold";
  margin-bottom: 1em;
}
div.card-seven-eight-wrapper div.card-seven-wrapper div.card-seven div.card-seven-graph {
  width: auto;
  height: auto;
  font-family: "Inter";
}

div.card {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background-color: #ffffff;
  border: none;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2em 1em 2em 1em;
}

div.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=cards.css.map */
