.card-two-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.gender-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    padding-right: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    height: 260px;
    box-sizing: content-box;
    align-items: left;
}

.gender-title-main {
    font-size: 14px;
    font-weight: 700;
    color: #2a4d69;
}

.gender-title-sub {
    font-size: 10px;
    font-weight: 500;
    color: #2a4d69;
}

.total-count {
    font-size: 32px;
    font-weight: bold;
    color: #081434;
    text-align: left;
}

.bar-chart-container {
    margin-left: 130px;
    margin-top: -120px;
}

.donut-chart-container {
    margin-top: -130px;
    margin-left: 115px;
}

.custom-legend {
    margin-top: 50px;
}

.custom-legend-level {
    margin-top: 60px;
}
  
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
  
.legend-dot {
    display: inline-block;
    width: 20px;
    height: 12px;
    border-radius: 6px;
    margin-right: 6px;
}
  
.legend-percentage {
    font-weight: bold;
}
  
.legend-label {
    margin-left: 4px;
    font-weight: 600;
}
  
.legend-dot.male {
    background-color: #2a4d69;
}

.legend-percentage.male {
    color: #2a4d69;
    font-size: 18px;
}

.legend-label.male {
    color: #2a4d69;
    font-size: 12px;
}

.legend-dot.female {
    background-color: #f28cb1;
}
  
.legend-percentage.female {
    color: #f28cb1;
    font-size: 18px;
}

.legend-label.female {
    color: #f28cb1;
    font-size: 12px;
}

.legend-dot.es {
    background-color: #6FA8DC;
}

.legend-label.es {
    color: #6FA8DC;
    font-size: 12px;
}

.legend-dot.jhs {
    background-color: #F6A5C0;
}

.legend-label.jhs {
    color: #F6A5C0;
    font-size: 12px;
}

.legend-dot.shs {
    background-color: #F9CB9C;
}

.legend-label.shs {
    color: #F9CB9C;
    font-size: 12px;
}

.legend-percentage.elementary {
    color: #6FA8DC; 
    font-size: 20px;
}

.legend-label.elementary {
    color: #6FA8DC; 
    font-size: 12px;
    max-width: 100px;
    word-wrap: break-word;
}

.legend-percentage.junior-high {
    color: #F6A5C0;
    font-size: 20px;
}

.legend-label.junior-high {
    color: #F6A5C0;
    font-size: 12px;
    max-width: 100px;
    word-wrap: break-word;
}

.legend-percentage.senior-high {
    color: #F9CB9C;
    font-size: 20px;
}

.legend-label.senior-high {
    color: #F9CB9C;
    font-size: 12px;
    max-width: 100px;
    word-wrap: break-word;
}

.donut-wrapper {
    position: relative;
}

.custom-legend-donut {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 8px;
    line-height: 1;    
}
