div.card-two{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #FFF0DC, #FFFFFF);
    border: none;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Inter';
    padding-left: 30px !important;
    padding-right: 30px !important;
        
    .card-two:hover {
            transform: translateY(-5px);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    }

    div.header-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div.card-title-main {
            font-size: 1em;
            color: #C18D4E;
            font-weight: 700;
            margin-top: -10px;
        }

        div.card-title-sub {
            font-size: 1em;
            color: #175382;
            font-weight: 700;
            font-style: italic;
            margin-top: -10px;
            margin-bottom: -10px;
        }

        div.total-count-level {
            font-size: 3em;
            color: #175382;
            font-weight: 700;
            margin-top: -10px;
        }
    }

    div.header-legend-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.legend-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: start;
            margin-top: 30px;

            div.legend-gender-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                div.legend-item{
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
    
                    span.legend-oblong {
                        width: 33px;
                        height: 12px;
                        border-radius: 36px;
                        display: inline-block;
                        margin-right: 5px;
    
                        &.male {
                            background-color: #0080FF;
                        }
    
                        &.female {
                            background-color: #FF5C85;
                        }
                    }
        
                    span.legend-label {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 14px;
    
                        &.male {
                            color: #175382;
                        }
    
                        &.female {
                            color: #175382;
                        }
                    }
                }

                span.legend-percentage {
                    font-size: 24px;
                    font-weight: 700;
                    margin-top: -5px;

                    &.male {
                        color: #0080FF;
                    }

                    &.female {
                        color: #FF5C85;
                    }
                }

                div.legend-line {
                    width: 133px;
                    height: 1px;
                    background-color: #F2DCC0;
                    margin-bottom: 8px;
                }
            }
        }       

        div.bar-chart-container {
            height: auto;
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin-left: 10px;
        }
    }
}


