div.card-five{
    width:405px;
    height:100%;
    padding:10px;

    div.card-header-wrapper{
        display:flex;
        flex-direction:column;

        div.card-title-main {
            font-size: 1em;
            font-family: "Inter-Bold";
        }
    }

    div.card-five-graph{
        padding: 0.75em;
        width:100%;
        height:auto;
        font-family: "Inter";
    }
}
