div.card-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #FFF0DC, #FFFFFF);
  border: none;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Inter";
  padding-left: 30px !important;
  padding-right: 30px !important;
}
div.card-two .card-two:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
div.card-two div.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.card-two div.header-wrapper div.card-title-main {
  font-size: 1em;
  color: #C18D4E;
  font-weight: 700;
  margin-top: -10px;
}
div.card-two div.header-wrapper div.card-title-sub {
  font-size: 1em;
  color: #175382;
  font-weight: 700;
  font-style: italic;
  margin-top: -10px;
  margin-bottom: -10px;
}
div.card-two div.header-wrapper div.total-count-level {
  font-size: 3em;
  color: #175382;
  font-weight: 700;
  margin-top: -10px;
}
div.card-two div.header-legend-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.card-two div.header-legend-wrapper div.legend-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  margin-top: 30px;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item span.legend-oblong {
  width: 33px;
  height: 12px;
  border-radius: 36px;
  display: inline-block;
  margin-right: 5px;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item span.legend-oblong.male {
  background-color: #0080FF;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item span.legend-oblong.female {
  background-color: #FF5C85;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item span.legend-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item span.legend-label.male {
  color: #175382;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-item span.legend-label.female {
  color: #175382;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper span.legend-percentage {
  font-size: 24px;
  font-weight: 700;
  margin-top: -5px;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper span.legend-percentage.male {
  color: #0080FF;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper span.legend-percentage.female {
  color: #FF5C85;
}
div.card-two div.header-legend-wrapper div.legend-wrapper div.legend-gender-wrapper div.legend-line {
  width: 133px;
  height: 1px;
  background-color: #F2DCC0;
  margin-bottom: 8px;
}
div.card-two div.header-legend-wrapper div.bar-chart-container {
  height: auto;
  border-radius: 1.5rem;
  flex-shrink: 0;
  margin-left: 10px;
}

/*# sourceMappingURL=card_two.css.map */
